<div class="search">
    <form action="/search/" method="POST">
      <input type="text" name="query"/>
      <input type="submit" value="Search" />
    </form>
  </div>
{{#each users}}
  <div class="item-row">
    <table>
      <tr>
        <td>
          <div class="info">
            <p><a href="/user/{{this.steamid}}">{{this.name}}</a></p>
            <p>Wins: {{this.wins}} Losses: {{this.losses}}</p>
            <p>ELO: {{this.rating}}</p>
          </div>
        </td>
      </tr>
    </table>
  </div>
{{/each}}