{{#if player}}
  <div class="user">
    <div class="info">
      <table>
        <tr>
          <td><image class="avatar" src="{{info.avatarfull}}" onerror="this.src='/img/avatar_default.png'" alt="Avatar" /></td>
          <td class="title" colspan="2">{{player.name}}<br /><span class="subtitle">{{player.steamid}}</span></td>
        </tr>
        <tr>
          <td class="large">Rating: {{player.rating}}</td>
          <td class="large">Wins: {{player.wins}}</td>
          <td class="large">Losses: {{player.losses}}</td>
        </tr>
        <tr class="links">
          <td><a href="http://steamcommunity.com/profiles/{{steamid64}}">Steam</a></td>
          <td><a href="http://logs.tf/profile/{{steamid64}}">Logs.tf</a></td>
        </tr>
      </table>
    </div>

    <div class="matches">
      <p class="title">Latest Matches</p>
      {{#each matches}}
        <div class="item-row">
          <table>
            <tr>
              <td>{{this.arenaname}}</td>
              <td>
                <p>
                  Winner: <a href="/user/{{this.winner}}">{{this.winner}}</a>
                  Loser: <a href="/user/{{this.loser}}">{{this.loser}}</a>
                </p>
                <p>Score: {{this.winnerscore}} - {{this.loserscore}}</p>
                </td>
            </tr>
          </table>
        </div>
      {{/each}}
    </div>
  </div>
{{else}}
  <p class="title">User not found.</p>
{{/if}}